.logo {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.header {
  background: #001529;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.content {
  margin: 16px;
  padding: 24px;
  background: white;
  border-radius: 8px;
  min-height: calc(100vh - 112px);
}

.logoutContainer {
  margin-top: auto; 
  padding: 16px;
  width: 100%; 

}

.logoutButton {
  min-width: 100%; 
  background-color: #f5222d; 
  color: white;
  border: none;
  &:hover {
    background-color: #d62f2f; 
  }
}
